@font-face {
  font-family: "ProximaNova_reg";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova_bold";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
a:focus,
a:hover,
a:active {
  text-decoration: none;
}

button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  font-size: 10px;
}

section {
  padding: 10rem 0;
}

input, button, a, textarea {
  outline: none;
}

body {
  font-family: "ProximaNova_reg", sans-serif;
}

.phone-link {
  display: block;
  text-align: end;
  font-size: 2rem;
  font-family: "ProximaNova_bold", sans-serif;
  font-weight: 900;
  color: #1a1820;
}

.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  border: unset;
  text-transform: uppercase;
  background-color: #fbb203;
  color: #ffffff;
  font-family: "ProximaNova_bold", sans-serif;
}
.button:hover {
  background-color: #e2a003;
  cursor: pointer;
}

.header .row {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 769px) {
  .header .row {
    height: 220px;
    justify-content: space-between;
    flex-direction: column;
  }
}

.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/main-back.png) center center no-repeat;
  background-size: cover;
}
@media screen and (max-width: 991px) {
  .main {
    background-position: top right;
  }
}
.main-content {
  margin-top: 10rem;
}
@media screen and (max-width: 991px) {
  .main-content {
    text-align: center;
  }
}
.main-content__title {
  margin-top: -10px;
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 5.45rem;
  font-family: "ProximaNova_bold", sans-serif;
}
@media screen and (max-width: 640px) {
  .main-content__title {
    font-size: 2.4rem;
    line-height: auto;
  }
}
.main-content__subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main-content__trigger {
  padding: 3.3rem 4rem;
  margin-bottom: 3rem;
  display: inline-block;
  font-size: 1.8rem;
  text-align: center;
  background-color: #70c849;
  color: #ffffff;
}
.main-content__trigger strong {
  font-size: 2.5rem;
  font-family: "ProximaNova_bold", sans-serif;
}
.main-content__payment {
  font-size: 2.2rem;
  display: block;
  text-transform: uppercase;
  font-family: "ProximaNova_bold", sans-serif;
}
@media screen and (max-width: 991px) {
  .main-content__payment {
    margin-bottom: 3rem;
  }
}
.main-content__form {
  padding: 4rem 5rem;
  background-color: #ffffff;
}
.main-content__form-title {
  margin-bottom: 4rem;
  font-size: 1.8rem;
  text-align: center;
}
.main-content__form-title strong {
  font-size: 1.9rem;
}

.form {
  position: relative;
  text-align: center;
}
.form-button {
  display: block;
  width: 100%;
  padding: 2.3rem 5rem;
  margin-bottom: 1.5rem;
}
.form input,
.form textarea {
  display: block;
  padding: 1.6rem;
  width: 100%;
  margin: 2rem 0;
  border-radius: 5px;
  border: 1px solid #dddddd;
}
.form label {
  position: absolute;
  display: inline-block;
  padding: 0.5rem;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.3rem;
  background-color: #ffffff;
  color: #565656;
}
.form small {
  font-family: "ProximaNova_bold", sans-serif;
}

.section {
  padding: 100px 0;
}
.section-header {
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 3.6rem;
  text-align: center;
  margin: 2rem 0 10rem;
}
.section-header__all-inclusive h2 {
  font-size: 4.8rem;
  margin-bottom: 2rem;
}
.section-header__all-inclusive p {
  font-size: 1.6rem;
  color: #1a1820;
  font-family: "ProximaNova_reg", sans-serif;
}
.section-header--active {
  color: #70c849;
}

.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 1.4rem;
  font-family: "ProximaNova_bold", sans-serif;
  margin-bottom: 3rem;
}
.features-block p {
  width: 80%;
  display: inline-block;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
}

.arrow {
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  transform: translateY(-50%);
  border: none;
  z-index: 99;
}

.prev {
  left: 0;
  background: url("../img/left-arrow.png") center no-repeat;
  background-size: 70%;
}

.next {
  right: 0;
  background: url("../img/right-arrow.png") center no-repeat;
  background-size: 90%;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.popup-content {
  position: fixed;
  background-color: #ffffff;
  padding: 4rem 5rem;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  text-align: center;
}
.popup__title {
  font-size: 18px;
  font-family: "ProximaNova_bold", sans-serif;
}
.popup__subtitle {
  font-size: 18px;
}
.popup__close {
  position: absolute;
  right: -4rem;
  top: -2.5rem;
  width: 3rem;
  border: none;
  text-align: center;
  font-size: 5rem;
  color: #ffffff;
  cursor: pointer;
}
.popup__form {
  margin-top: 2rem;
}

.price {
  background-image: url(../img/background-price.png);
  display: block;
  text-align: center;
}
.price-button {
  text-align: right;
}
@media screen and (max-width: 990px) {
  .price-button {
    margin-top: 3rem;
    text-align: center;
  }
}
.price-header {
  margin-bottom: 6rem;
  color: #ffffff;
  font-size: 1.8rem;
}
.price-header h2 {
  margin-bottom: 4rem;
  font-family: "ProximaNova_bold", sans-serif;
}
@media screen and (max-width: 990px) {
  .price-header h2 {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 990px) {
  .price-header {
    margin-bottom: 5rem;
  }
}
.price-block {
  padding: 5rem 3rem;
  background-color: #ffffff;
}
.price-block h3 {
  margin-bottom: 3rem;
  font-size: 1.9rem;
  font-family: "ProximaNova_bold", sans-serif;
  min-width: 30rem;
}
@media screen and (max-width: 1200px) {
  .price-block h3 {
    min-width: unset;
    min-height: 4rem;
  }
}
.price-block img {
  margin-bottom: 3rem;
  width: 100%;
  max-width: 30rem;
}
@media screen and (max-width: 1200px) {
  .price-block {
    margin-bottom: 2rem;
  }
}
.price-tag {
  margin-bottom: 3rem;
  display: block;
  font-size: 1.9rem;
  font-family: "ProximaNova_bold", sans-serif;
}
.price-list {
  min-height: 13rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  list-style-type: none;
  padding: 0;
}
.price-list li:before {
  content: "";
  display: inline-block;
  margin-right: 1rem;
  width: 1.2rem;
  height: 1.2rem;
  background: url(../img/checked.svg) no-repeat center;
  vertical-align: middle;
  background-size: 100%;
}
.price .button {
  font-family: "ProximaNova_reg", sans-serif;
}
@media screen and (max-width: 1200px) {
  .price .button {
    font-size: 1.4rem;
  }
}

.feedback {
  background-image: url(../img/background-feedback.png);
  font-size: 1.6rem;
}
@media screen and (max-width: 1199px) {
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
}
.feedback__title {
  margin-bottom: 9.5rem;
  text-align: center;
  font-size: 3.6rem;
  font-family: "ProximaNova_bold", sans-serif;
}
.feedback-slider {
  padding: 6rem;
  position: relative;
  background-color: #ffffff;
  box-shadow: 6px 10px 18px 0 rgba(0, 0, 0, 0.11);
}
@media screen and (max-width: 425px) {
  .feedback-slider {
    padding: 4rem;
  }
}
.feedback-slider__button {
  position: absolute;
  width: 4rem;
  height: 6rem;
  background-repeat: no-repeat;
  background-size: cover;
  border: unset;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 425px) {
  .feedback-slider__button {
    height: 5rem;
  }
}
.feedback-slider__prev {
  left: -4rem;
  background-position: left;
  background-image: url(../img/feedback-arrow-prev.png);
}
@media screen and (max-width: 768px) {
  .feedback-slider__prev {
    left: 0;
  }
}
.feedback-slider__next {
  right: -4rem;
  background-position: right;
  background-image: url(../img/feedback-arrow-next.png);
}
@media screen and (max-width: 768px) {
  .feedback-slider__next {
    right: 0;
  }
}
.feedback-info__text {
  margin-bottom: 4rem;
}
.feedback-info__author-photo {
  max-width: 50px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2rem;
}
.feedback-info__author-photo img {
  width: 100%;
  border-radius: 50%;
}
.feedback-info__author-meta {
  display: flex;
  align-items: center;
}
.feedback-info__author-name {
  vertical-align: middle;
  display: inline-block;
}
.feedback-info__author-text {
  margin-top: 2rem;
  padding: 2rem;
  border: 2px solid #70c849;
  position: relative;
}
.feedback-info__author-text:before {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid #70c849;
  top: -2rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border-bottom: none;
  border-radius: 0 2rem 0 0;
}
.feedback-form {
  padding: 5rem 11rem;
  margin-top: 6rem;
  background-color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback-form label {
    transform: translate(-50%, -50%);
  }
}
.feedback-form__title {
  margin-bottom: 2rem;
  font-size: 2.1rem;
  text-align: center;
  font-family: "ProximaNova_bold", sans-serif;
}
.feedback-form__btn {
  max-width: 25rem;
  margin: 0 auto;
}
.feedback-form label {
  transform: translate(-50%, 6px);
}
@media screen and (max-width: 991px) {
  .feedback-form label {
    transform: translate(-50%, -50%);
  }
}

.schema {
  background: url(../img/schema/schema-bg.png) bottom -10rem right -15rem no-repeat;
  background-size: 65rem;
}
@media (max-width: 768px) {
  .schema {
    background: none;
    text-align: center;
  }
}
.schema__header {
  text-align: center;
  margin-bottom: 5rem;
}
.schema__title {
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 3.6rem;
  margin-bottom: 2.5rem;
}
.schema-wrap {
  min-height: 30rem;
  font-size: 1.6rem;
  font-family: "ProximaNova_reg", sans-serif;
}
@media (max-width: 768px) {
  .schema-wrap {
    min-height: 20rem;
  }
}
.schema h3 {
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}
.schema img {
  margin-bottom: 2.5rem;
}

.all-inclusive {
  background-color: #f5f5f5;
}
.all-inclusive__item {
  display: flex;
  min-height: 9rem;
}
@media (max-width: 1199px) {
  .all-inclusive__item {
    min-height: 10rem;
  }
}
.all-inclusive__item-text h4 {
  font-family: "ProximaNova_bold", sans-serif;
  font-size: 1.6rem;
}
.all-inclusive__item-text p {
  font-size: 1.1rem;
}
.all-inclusive__icon {
  margin-right: 1.5rem;
  transform: translateY(-1.5rem);
}
.all-inclusive__icon-border {
  border-radius: 50%;
  border: 3px solid #70c849;
  display: inline-block;
  padding: 0.3rem;
}
.all-inclusive__icon-circle {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 2rem;
  font-family: "ProximaNova_bold", sans-serif;
  background-color: #70c849;
  color: #ffffff;
}

.problems-container {
  position: relative;
}
.problems h2 {
  font-size: 3.6rem;
  line-height: 1.8prem;
  font-family: "ProximaNova_bold", sans-serif;
  text-align: center;
  margin-bottom: 8rem;
}
@media screen and (max-width: 425px) {
  .problems h2 {
    padding: 4rem;
  }
}
.problems-list {
  padding: 3rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 425px) {
  .problems-list {
    padding: 2rem;
  }
}
.problems-list h3 {
  font-size: 2.1rem;
  line-height: 1.8rem;
  margin-bottom: 4.5rem;
  font-family: "ProximaNova_bold", sans-serif;
}
.problems-list--bad {
  border: 4px solid #e8e8e8;
}
.problems-list--bad h3 {
  opacity: 0.5;
}
.problems-list--bad li:before {
  background-image: url(../img/cancel-icon.png);
  background-size: contain;
}
.problems-list--good {
  border: 4px solid #358015;
}
.problems-list--good li:before {
  background-image: url("data:image/svg+xml,%3Csvg height='21px' viewBox='0 -36 509.248 509' width='21px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m171.902344 438.074219-171.902344-171.902344 100.625-100.609375 71.277344 71.296875 236.722656-236.734375 100.621094 100.621094zm0 0' fill='%23addb31'/%3E%3C/svg%3E");
}
.problems ul {
  list-style: none;
  padding-left: 0;
  min-height: 30rem;
}
@media screen and (max-width: 1200px) {
  .problems ul {
    min-height: 36rem;
  }
}
@media screen and (max-width: 991px) {
  .problems ul {
    min-height: auto;
  }
}
.problems ul li {
  margin-bottom: 3rem;
  position: relative;
  padding-left: 4rem;
}
.problems ul li:before {
  content: "";
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  top: 0;
  left: 0;
}
.problems-img {
  position: absolute;
  bottom: 0;
  width: 30rem;
  margin-left: -19rem;
  left: 50%;
}
@media screen and (max-width: 991px) {
  .problems-img {
    display: none;
  }
}

.offers {
  background: #ffffff url(../img/background-feedback.png) center center no-repeat;
  font-size: 1.8rem;
}
.offers a {
  color: #70c849;
}
.offers a:hover {
  color: #5cb236;
}
.offers h2 {
  font-size: 3.6rem;
  line-height: 1.8prem;
  font-family: "ProximaNova_bold", sans-serif;
  text-align: center;
  margin-bottom: 5rem;
}
.offers-subtitle {
  font-size: 1.8rem;
  text-align: center;
}
.offers-text {
  text-align: center;
}
.offers-text__phone {
  font-size: 2.2rem;
  font-family: "ProximaNova_bold", sans-serif;
}
.offers-block {
  padding: 5rem 3rem;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .offers-block {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 991px) and (max-width: 1200px) {
  .offers-block {
    padding: 5rem 1.8rem;
  }
}
.offers-block h3 {
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-family: "ProximaNova_bold", sans-serif;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .offers-block h3 {
    min-width: unset;
    min-height: 4rem;
  }
}
.offers-block img {
  margin-bottom: 2rem;
  display: inline-block;
}
.offers-block p {
  text-align: center;
}
.offers-block__inner {
  min-height: 30rem;
}
.offers-link {
  border-bottom: 1px dotted #70c849;
}
.offers-img {
  text-align: center;
}

.tour {
  background: url(../img/bg-tour.png) center center no-repeat;
  background-size: cover;
}
@media screen and (max-width: 991px) {
  .tour {
    background: unset;
    background-color: #f0ebea;
  }
}
.tour--button {
  padding: 2.3rem 3rem;
}

.upsell {
  background-color: #286b0a;
  color: #ffffff;
  text-align: center;
}
.upsell__title {
  font-size: 3.6rem;
  font-family: "ProximaNova_bold", sans-serif;
}
.upsell__subtitle {
  font-size: 1.9rem;
  margin-top: 3rem;
}
.upsell-block {
  min-height: 32rem;
}
.upsell-block img {
  width: 100%;
  max-width: 33rem;
  margin-bottom: 2.5rem;
}
.upsell-block p {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.upsell-blocks {
  margin-top: 5rem;
}

/*# sourceMappingURL=style.css.map */
