@import 'common';

body {
    @include reg();
}

.phone-link {
    display: block;
    text-align: end;
    font-size: 2rem;
    @include bold();
    font-weight: 900;
    color: $textDarkColor;
}

.button {
    padding: 1rem 3rem;
    border-radius: 8px;
    border: unset;
    text-transform: uppercase;
    background-color: $accentColor;
    color: $textLightColor;
    @include bold();

    &:hover {
        background-color: darken($accentColor, 5);
        cursor: pointer;
    }
}

.header {
    .row {
        display: flex;
        align-items: center;

        @media screen and (max-width: 769px) {
            height: 220px;
            justify-content: space-between;
            flex-direction: column;
        }
    }
}

.main {
    padding: 3rem 0 5rem;
    background: #ffffff url(../img/main-back.png) center center no-repeat;
    background-size: cover;

    @media screen and (max-width: 991px){
        background-position: top right;
    }

    &-content {
        margin-top: 10rem;

        @media screen and (max-width: 991px){
            text-align: center; 
        }

        &__title {
            margin-top: -10px;
            margin-bottom: 4rem;
            text-transform: uppercase;
            font-size: 4rem;
            line-height: 5.45rem;
            @include bold();

            @media screen and (max-width: 640px){
                font-size: 2.4rem;
                line-height: auto;
            }
        }

        &__subtitle {
            margin-bottom: 4rem;
            font-size: 2.4rem;
        }

        &__trigger {
            padding: 3.3rem 4rem;
            margin-bottom: 3rem;
            display: inline-block;
            font-size: 1.8rem;
            text-align: center;
            background-color: $mainColor;
            color: $textLightColor;

            strong {
                font-size: 2.5rem;
                @include bold();
            }
        }

        &__payment {
            font-size: 2.2rem;
            display: block;
            text-transform: uppercase;
            @include bold();

            @media screen and (max-width: 991px){
                margin-bottom: 3rem; 
            }
        }

        &__form {
            padding: 4rem 5rem;
            background-color: #ffffff;
            &-title {
                margin-bottom: 4rem;
                font-size: 1.8rem;

                strong {
                    font-size: 1.9rem;
                }
            }
        }
    }
}

.form {
    position: relative;
    text-align: center;

    &-button {
        display: block;
        width: 100%;
        padding: 2.3rem 5rem;
        margin-bottom: 1.5rem;
    }

    input,textarea {
        display: block;
        padding: 1.6rem;
        width: 100%;
        margin: 2rem 0;
        border-radius: 5px;
        border: 1px solid #dddddd;
    }

    label {
        position: absolute;
        display: inline-block;
        padding: 0.5rem;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 1.3rem;
        background-color: #ffffff;
        color: #565656;
    }

    small {
        @include bold();
    }
}

.section {
    padding: 100px 0;

    &-header {
        @include bold();
        font-size: 3.6rem;
        text-align: center;
        margin: 2rem 0 10rem;
    }
}

.features {
    &-slider {
        
    }

    &-block {
        text-align: center;

        h3 {
            font-size: 1.4rem;
            @include bold();
            margin-bottom: 3rem;
        }

        p {
            width: 80%;
            display: inline-block;
        }
    }

    &-img {
        height: 8rem;
        margin-bottom: 3rem;
        
        img {
            display: block;
            margin:0 auto;
            max-height: 100%;
        }
    }
}

.arrow {
    position: absolute;
    top: 50%;
    width: 2rem;
    height: 2rem;
    transform: translateY(-50%);
    border: none;
    z-index: 99;
}

.prev {
    left: 0;
    background: url('../img/left-arrow.png') center no-repeat;
    background-size: 70%;
}

.next {
    right: 0;
    background: url('../img/right-arrow.png') center no-repeat;
    background-size: 90%;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9;

    &-content {
        position: fixed;
        background-color: #ffffff;
        padding: 4rem 5rem;
        left: 50%;
        top: 10%;
        transform: translate(-50%);
        text-align: center;
    }

    &__title {
        font-size: 18px;
        @include bold();
    }

    &__subtitle {
        font-size: 18px;
    }

    &__close {
        position: absolute;
        right: -4rem;
        top: -2.5rem;
        width: 3rem;
        border: none;
        text-align: center;
        font-size: 5rem;
        color: #ffffff;
        cursor: pointer;
    }

    &__form {

        margin-top: 2rem;
    }
}