
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

h2 {
	font-size: 40px;
	color: #ffffff;
}